/archive
/gradle
/node_modules
/src
.gitignore
*.bat
bintrayv.gradle
build.gradle
gradlew
installv.gradle
proguard-rules.pro
vdopiaproguard.txt

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/libraries
/.idea/sonarlint
/.idea
.DS_Store
/build
/captures
.sonar
sonar-project.properties
/node_modules
