<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-freestar" version="1.3.4" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>FreestarPlugin</name>
    <description>Freestar Ads Mediation Plugin for Cordova</description>
    <license>Apache-2.0</license>
    <keywords>freestar, mediation, ads</keywords>
    <js-module name="freestarplugin" src="www/FreestarPlugin.js">
        <clobbers target="window.plugins.freestarPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="FreestarPlugin">
                <param name="android-package" value="com.freestar.android.cordova.FreestarPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>
    <framework src="android_dependencies.gradle" custom="true" type="gradleReference" />

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
  			<feature name="FreestarPlugin">
  				<param name="ios-package" value="FreestarPlugin" />
  			</feature>
		</config-file>

        <header-file src="ios/FreestarPlugin.h"/>
        <source-file src="ios/FreestarPlugin.m"/>

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="FreestarAds" spec="~> 5.17" />
                <pod name="FreestarAds-AdColony" spec="~> 4.7" />
                <pod name="FreestarAds-AppLovin" spec="~> 11.0" />
                <pod name="FreestarAds-AppLovinMax" spec="~> 11.0" />
                <pod name="FreestarAds-GAM" spec="~> 9.2" />
                <pod name="FreestarAds-GAM/Facebook" spec="~> 9.2" />
                <pod name="FreestarAds-Googleadmob" spec="~> 9.2" />
                <pod name="FreestarAds-Googleadmob/Facebook" spec="~> 9.2" />
                <pod name="FreestarAds-Hyprmx" spec="~> 6.0" />
                <pod name="FreestarAds-Nimbus" spec="~> 1.10" />
                <pod name="FreestarAds-Ogury" spec="~> 2.1" />
                <pod name="FreestarAds-Pangle" spec="~> 3.7" />
                <pod name="FreestarAds-Prebid" spec="~> 2.0" />
                <pod name="FreestarAds-TAM" spec="~> 4.4" />
                <pod name="FreestarAds-Tapjoy" spec="~> 12.8" />
                <pod name="FreestarAds-Unity" spec="~> 4.1" />
                <pod name="FreestarAds-Vungle" spec="~> 6.10" />
                <pod name="FreestarAds-Yahoo" spec="~> 1.14" />
            </pods>
        </podspec>
    </platform>
</plugin>
