<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-freestar" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>FreestarPlugin</name>
    <description>Freestar Ads Mediation Plugin for Cordova</description>
    <license>Apache 2.0</license>
    <keywords>freestar, mediation, ads</keywords>
    <js-module name="freestarplugin" src="www/FreestarPlugin.js">
        <clobbers target="window.plugins.freestarPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="FreestarPlugin">
                <param name="android-package" value="com.freestar.android.cordova.FreestarPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
    </platform>
    <framework src="android_dependencies.gradle" custom="true" type="gradleReference" />
</plugin>
